.settings
*.pyc
.pyc
.project
.pydevproject
bin
logs
.DS_Store
venv
db.sqlite3
data.xls
.idea
.coverage
wealthy-commons
wealthy-commons/*
wealthy-forrest
wealthy-forrest/*
GeoLiteCity.dat.gz
GeoLiteCity.dat
.vscode
